/* styling the side navigation in general  */
#sidenav
 {
 	float: left;
	color: black;
     margin:0px;
     padding-top: 80px;
     padding-left: 16px;
	width:200px;
	height:580px;
 }
	
	
	
	/* styling the links and the text of the links */
#sidenav a
{
	background: green;
	 color:white;
	 display:block;
	 text-decoration:none;
	 padding:2px;
     font-size:17px;
     text-align:left;
     transition: all 0.15s ease-in-out;
}
 
 /*  styling the apperance of the links when pointer hovers over them   */
 #sidenav a:hover
 {
 	 background-color:skyblue;
 	  color: green; 
      border-left:9px solid white;
      text-shadow:2px 2px 2px black;
	 
 }
 
   #sidenav ul {
   	list-style-type:none;
			   margin:0px;
			   padding:0px;
			   background-color:#f2f2f2;
			   height:100%;
			   overflow:auto;
			   border-radius:10px;
			   }

			   #sidenav ul li a{ 
			   text-decoration:none;
			   display:block;
			   padding:20px;
			   }

			   #sidenav ul li a:hover{
				   color:white;
				   background-color:#b3cccc;
				   }
 
 /* styling the headers h4 apperance*/
 #sty li h4
 {
	 
	 border-radius:5px;
	 padding:5px;
	 color:black;
	 margin:0px;
	 text-align:center;
	 background: linear-gradient(#f2f2f2 ,white );
    list-style-type:none;
 }
 
 /* styling the appreance header h4 during hovering on them*/
 #sty h4:hover
 {
	 background: linear-gradient(blue,#19c589 );
     cursor:pointer;
 	 
 }
 
 /* styling  unordered list ul these are hidden ul parts of side navigation in general */
 #sty ul
 {
	 
     padding:0;
     background-color:#f2f2f2;
     list-style-type:none;
 }
 
 /* styling everything in general that is in the list tag li    */
 #sty li{

	 float:none;    
     text-transform:uppercase;
	 font-size:19px;
	 text-decoration:none;
	 list-style-type:none;
	
 }
 
 /*  general styling of the whole unordered list ul */
 #sty
 { 
	 margin:0;
	 padding:0;
 }
 
 /*hiding the inner links  */
 #sty ul 
{
 display:none;	
}

 /*  this displays apart of the inner submenu of the side navigation while others are hidden */
 #sty ul.ac 
 {
	display:block; 
 }

 .divFrame{
 	background-color:#f2f2f2;
 	border-radius: 8px 8px;
    float: left;
	color: black;
     margin:0px;
     margin-left: 30px;
     padding-top: 80px;
     padding-left: 16px;
	 width:1070px;
	 height:580px;
 } 
 
 body a:active{
   color: #ffffff;
   background:#f1d74c;
}
 