/*************************************** image slider styles ****************************************************/
/*style for image*/
.carousel-item img{
	height: 100%;
	width: 100%;
}

/* style for next and previous button*/
.carousel-control-next-icon, .carousel-control-prev-icon{
	height: 30px;
	width: 30px;
}




 /* styles for deives with small widths than 767px*/
 @media (max-width: 767px){
 	/* style for next and previous button*/
.carousel-control-next-icon, .carousel-control-prev-icon{
	height: 20px;
	width: 20px;
}
 }






/******************************** Understand Addiction and Its Causes **************************************/
.heading{
margin-bottom: 0;
padding-bottom: 0;
}

.founder p{
	margin-left: 8%;
	margin-right: 8%;
	font-size: 19px;
}

/*.heading-underline{
	margin: auto;
	margin-bottom:2%;
	width: 20%;
	border-top:.2rem solid green;
	margin-top: 3rem;

}*/